<nav id="main-menu" class="main-menu" aria-label="main menu">
  <ul class="menu-item-container">
    <li class="menu-item"><a class="menu-item-link" href="/">Home</a></li>
    <li class="menu-item"><a class="menu-item-link" href="/">About</a></li>
    <li class="menu-item"><a class="menu-item-link" href="/">Events</a></li>
    <li class="menu-item"><a class="menu-item-link" href="/">Tarot</a></li>
    <li class="menu-item"><a class="menu-item-link" href="/">Policies</a></li>
    <li class="menu-item"><a class="menu-item-link" href="/">Contact</a></li>
  </ul>
</nav>
