.js .no-js-menu-link {
  display: none;
}

.banner {
  position: relative;

  .logo {
    float: left;
    height: rem(50px);
    width: rem(50px);

    @include onTablets {
      height: rem(80px);
      margin-top: rem(-10px);
      width: rem(80px);
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }

  #page-title {
    padding-left: rem(60px);
    padding-top: rem(5px);

    @include onTablets {
      padding-left: rem(100px);
      padding-top: 0;
    }
  }



  .main-menu {
    left: -10px;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition-property: opacity, transform, visibility;
    transition-duration: .5s;
    visibility: hidden;
    width: rem(300px);
    z-index: 100;

    @include onTablets {
      left: -30px;
    }

    .menu-item-container {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .menu-item {
      &:first-child .menu-item-link {
        border-top-right-radius: rem(10px);
      }

      &:last-child .menu-item-link {
        border-bottom-right-radius: rem(10px);
      }
    }

    .menu-item-link {
      background-color: $gray;
      border: 1px solid $gray;
      color: $yellow;
      display: inline-block;
      padding: .25rem 0;
      text-align: center;
      width: 100%;

      &:active,
      &:focus,
      &:hover {
        background-color: $yellow;
        border-color: $mustard;
        color: $gray;
      }
    }

    .menu-open & {
      opacity: 1;
      transform: translateX(0%);
      visibility: visible;
    }

    @include onScreens {
      left: auto;
      opacity: 1;
      right: 0;
      top: rem(20px);
      transition: none;
      transform: translateX(0%);
      visibility: visible;
      width: auto;

      .menu-item {
        display: inline-block;
        margin: 0 rem(5px);
      }

      .menu-item-link {
        background-color: transparent;
        border-style: none;
        border-radius: 0 !important; /* overrides :last-child specification above */
        color: $black;
        padding: 0 rem(5px);

        &:active,
        &:focus,
        &:hover {
          background-color: transparent;
          border-bottom: 4px solid $mustard;
        }
      }
    }
  }

  #toggler {
    background: transparent;
    border-style: none;
    padding: 4px 4px 0;
    position: absolute;
    right: rem(8px);
    top: rem(2px);

    .toggle {
      cursor: pointer;
      display: inline-block;
      outline: none;
      width: calc(4px * 7);
    }

    .toggle:after,
    .toggle:before,
    .toggle .mid-line {
      background-color: $gray;
      border-radius: 4px;
      content: '';
      display: block;
      height: 4px;
      margin: 4px 0;
      transition: transform .2s;
    }

    &:focus {
      .toggle:after,
      .toggle:before,
      .toggle .mid-line {
        background-color: $purple;
      }
    }

    &.open {
      .toggle:after {
        transform: translateY(-8px) rotate(-135deg);
      }

      .toggle:before {
        transform: translateY(8px) rotate(135deg);
      }

      .toggle .mid-line {
        transform: scale(0) rotate(360deg);
      }
    }

    @include onTablets {
      right: rem(15px);
      top: rem(15px);
    }

    @include onScreens {
      display: none;
    }
  }

  .banner-graphic {
    img {
      max-height: 500px;
      object-fit: cover;
      width: 100%;
    }

    @include atFullSize {
      position: relative;

      &:before {
        background: linear-gradient(180deg, rgba(70,70,70,1) 50%, rgba(66,66,66,1) 100%);
        content: " ";
        display: inline-block;
        height: 100%;
        left: -10000px;
        position: absolute;
        top: 0;
        width: 10000px;
      }

      &:after {
        background: linear-gradient(180deg, rgba(37,37,37,1) 0%, rgba(25,26,28,1) 100%);
        content: " ";
        display: inline-block;
        height: 100%;
        left: 100%;
        position: absolute;
        top: 0;
        width: 10000px;
        z-index: 100;
      }
    }
  }
}
