.banner {
  background: transparent url("images/firefly-glowing.jpg") 0 50% no-repeat;
  background-size: contain;
  height: rem(50px);
  position: relative;

  @include onTablets {
    height: rem(64px);
  }

  a {
    color: $black;
    text-decoration: none;
  }

  #page-title {
    font-family: $serif;
    font-size: rem(25px);
    padding-left: rem(60px);
    padding-top: rem(5px);

    @include onTablets {
      font-size: rem(35px);
      padding-left: rem(100px);
      padding-top: 0;
    }
  }

  .toggle {
    cursor: pointer;
    display: inline-block;
    outline: none;
    width: calc(4px * 7);
  }

  .toggle:after,
  .toggle:before,
  .toggle .mid-line {
    background-color: $gray;
    border-radius: 4px;
    content: '';
    display: block;
    height: 4px;
    margin: 4px 0;
    transition: all 200ms ease-in-out;
  }

  .main-menu {
    position: absolute;
    right: rem(-10px);
    transform: translateX(100%);
    transition: transform ease-in-out 500ms;
    top: 0;
    width: rem(200px);
  }

  .menu-item-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    &:first-child .menu-item-link {
      border-top-left-radius: rem(10px);
    }

    &:last-child .menu-item-link {
      border-bottom-left-radius: rem(10px);
    }
  }

  .menu-item-link {
    background-color: $gray;
    border: 1px solid $gray;
    color: $yellow;
    display: inline-block;
    text-align: center;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      background-color: $yellow;
      border-color: $mustard;
      color: $gray;
    }
  }

  #toggler:active,
  #toggler:focus,
  #toggler:hover {
    .toggle:after,
    .toggle:before,
    .toggle .mid-line {
      background-color: $purple;
      outline: 0;
    }
  }

  #toggler.open {
    .toggle:after {
      transform: translateY(-8px) rotate(-135deg);
    }

    .toggle:before {
      transform: translateY(8px) rotate(135deg);
    }

    .toggle .mid-line {
      transform: scale(0) rotate(360deg);
    }

    & + .main-menu {
      transform: translateX(0%);
    }
  }
}
