body.home {
  .homepage.body {
    display: grid;
  }

  .wp-block-dashifen-deck {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
    grid-row: 2 / 3;


  }

  .post-body {
    grid-row: 1 / 2;
  }

  .events {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    h4 {
      font-family: $sanSerif;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }
}
