{% extends "@layout/base.twig" %}

{% block content %}
  <header>
    <h2 id="main-title" class="screen-reader-text">Welcome to the Firefly House</h2>
  </header>

  <div class="homepage body">
    {{ post.content }}

    {% if events %}
      {% include "@partials/events.twig" %}
    {% endif %}

  </div>
{% endblock %}
