{% extends "@layout/base.twig" %}

{% block content %}
  <header>
    <h2 id="main-title" class="screen-reader-text">Welcome to the Firefly House</h2>
  </header>

  <div class="body">
    {{ post.content }}
  </div>
{% endblock %}
