html {
  box-sizing: border-box;
  color: $black;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  &:link,
  &:visited {
    color: $purple;
  }

  &:active,
  &:focus,
  &:hover {
    color: $mustard;
  }
}

body {
  font: normal 100%/1.6 $sansSerif;
  overflow-x: hidden;

  @include onTablets {
    font-size: 112.5%;
  }

  /*&.admin-bar {
    margin-top: -32px;
  }*/
}

nav .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 rem(10px);
  max-width: 1380px;

  @include onTablets {
    margin: 0 rem(30px);
  }

  @include atFullSize {
    margin: 0 auto;
  }
}

figure {
  font-size: 0;
  margin: 0 rem(-10px);

  @include onTablets {
    margin: 0 rem(-30px);
  }
}

img {
  max-width: 100%;
}

.h1 {
  font-family: $serif;
  font-size: rem(25px);

  @include onTablets {
    font-size: rem(35px);
  }
}

h1, h2, h3, h4 {
  font-family: $serif;

  &.sans-serif {
    font-family: $sansSerif;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
