html {
  box-sizing: border-box;
  color: $black;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  &:link,
  &:visited {
    color: $purple;
  }

  &:active,
  &:focus,
  &:hover {
    color: $mustard;
  }
}

body {
  font: normal 112.5%/1.6 $sanSerif; // usually 20px
  overflow-x: hidden;

  /*&.admin-bar {
    margin-top: -32px;
  }*/
}

nav .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 rem(10px);
  max-width: 1380px;

  @include onTablets {
    margin: 0 rem(30px);
  }

  @include atFullSize {
    margin: 0 auto;
  }
}

figure {
  font-size: 0;
  margin: 0 rem(-10px);

  @include onTablets {
    margin: 0 rem(-30px);
  }
}

img {
  max-width: 100%;
}
